# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# JS and JSX
[{*.js, *.jsx}]
indent_style = space
indent_size = 2

# Ts and TSX
[{*.ts, *.tsx}]
indent_style = space
indent_size = 2

# CSS, Less and Sass
[{*.css, *.less, *.sass}]
indent_style = space
indent_size = 2

# HTML, Handlebars
[{*.html, *.hbs}]
indent_style = space
indent_size = 2

# JSON and Similar
[{*.json, *.yaml, *.yml}]
indent_style = space
indent_size = 2

# Windows files
[*.bat]
end_of_line = crlf
